*{
    margin: 0px;
}
body{
    display: flex;
    min-height: 100vh;
    text-align: center;
    flex-direction: row;
}
.flexbox-container{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.flexbox-items{
    display: flex;
    flex-direction: row;
}
.flexbox-item-1{
    min-height: 10vh;
    width: 13%;
    background: gray;
}
.flexbox-item-2{
    min-height: 50vh;
    width: 80%;
    background-color: lightblue;
}
.flexbox-item-3{
    min-height: 60vh;
    width: 20%;
    background-color: blue;
}
div p{
    display: flex;
    height: 20vh;
    background: lightgray;
}
@media only screen and (max-width:500px){
    #flexbox-container{
        display: inline-flex;
        width: 100%;
        flex-direction: column;
    }
    #flexbox-item-3{
        height: 200px;
        width: 100%;
    }
    #flexbox-item-1{
        height: 200px;
        width: 100%;
    }
    #flexbox-item-2{
        height: 100%;
    }
}